<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="indi.xuxin.immersivemode">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImmersiveMode">
        <activity
            android:name="indi.xuxin.immersivemode.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="indi.xuxin.immersivemode.ViewSystemFlagActivity"
            android:exported="true" />

        <activity
            android:name="indi.xuxin.immersivemode.ModernizeImmersiveMode"
            android:exported="true" />

        <activity
            android:name="indi.xuxin.immersivemode.WindowManagerActivity"
            android:exported="true" />

    </application>

</manifest>
